
<section>
    <div class="modal animated fadeIn" id="filterPartStockTakingModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="false">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="filterPartStockTakingForm" class="needs-validation" novalidate>
                    <div class="modal-header">
                        <h6 class="modal-title"><span class="fa fa-search"></span> Browse Part Inventory Stock Taking</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label for="searchFilterStockTaking" class="control-label">Search:</label>
                                    <div class="input-group input-group-sm">
                                        <input id="searchFilterStockTaking" type="text" class="form-control border-secondary" placeholder="Search key here...">
                                        <div class="input-group-append">
                                            <button id="btnFilterStock" type="button" class="btn btn-secondary" onclick="reloadGridFilterStock()"><i class="fa fa-search"></i> Find</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*<div class="form-group form-group-sm">
                                    <label for="searchFilterSupplirId" class="control-label">Supplier:</label>
                                    <div class="input-group input-group-sm">
                                        <select id="searchFilterSupplirId" class="form-control custom-select custom-select-sm" onchange="reloadGridFilterStock()"></select>
                                    </div>
                                </div>*@
                            </div>
                            <div class="col-md-12">
                                <table id="jqGridSearchStock"></table>
                                <div id="jqGridPagerSearchStock"></div>
                            </div>

                        </div>

                        <div id="filterPartStockTakingError"></div>

                    </div>
                    <div class="modal-footer">
                        <div class="ml-0 mr-auto">
                            <div id="err-msg-search"></div>
                        </div>
                        <button id="btn-filterPartStockTaking" type="button" class="btn btn-sm btn-primary" onclick="selectFilterDataStock()" dismiss="modal"><span class="fa fa-check"></span> Select</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<script>

    $("#searchFilterStockTaking").on('keypress', function (e) {
        if (e.which == 13) {
            $("#btnFilterStock").button().click();
        }
    });

    var uniqueFilter = "";
    var inventorynumber = "";
    var areaid = "";
    var locationid = "";

    var filterData = $('#searchFilterStockTaking').val();
    $gridFilterStock = $("#jqGridSearchStock").jqGrid({
        url: '@Url.Action("StockTakingDetailListJson", "Inventory")',
        datatype: "json",
        mtype: "POST",
        async: false,
        postData: {
            searchFilter: filterData,
            InventoryNumber: "*",
        },
        colModel: [
            { label: 'CUSTOMER', name: 'CustomerId', align: 'left', hidden: true, width: 70, sortable: false },
            { label: 'LINE', name: 'LineId', align: 'left', hidden: true, width: 70, sortable: false },
            { label: 'SUPPLIER', name: 'SupplierId', align: 'left', hidden: true, width: 70, sortable: false },
            { label: 'STOCK TYPE', name: 'StockType', align: 'center', fixed: true, width: 100, sortable: false },
            { label: 'UNIQUE NUMBER', name: 'UniqueNumber', align: 'center', fixed: true, width: 60, sortable: false },
            { label: 'PART NUMBER', name: 'PartNumber', align: 'center', fixed: true, width: 110, sortable: false },
            { label: 'PART NAME', name: 'PartName', align: 'left', width: 190, sortable: false },
            { label: 'MODEL', name: 'PartModel', align: 'center', fixed: true, width: 70, sortable: false },
            { label: 'QTY/ KBN', name: 'UnitQty', align: 'center', fixed: true, width: 45, formatter: 'number', sortable: false },
            { label: 'UNIT', name: 'UnitLevel2', align: 'center', fixed: true, width: 50, sortable: false },
            { label: 'TYPE PACKING', name: 'PackingId', align: 'center', fixed: true, width: 70, sortable: false },
            { label: 'KANBAN', name: 'StockKanban', align: 'right', fixed: true, width: 70, formatter: 'number', sortable: false },
            { label: 'QTY', name: 'StockQty', align: 'right', fixed: true, width: 70, formatter: 'number', sortable: false },
            { label: 'ACTUAL', name: 'ActualQty', align: 'right', fixed: true, width: 70, formatter: 'number', sortable: false },
            { label: 'BALANCE', name: 'BalanceQty', align: 'right', fixed: true, width: 70, formatter: 'number', sortable: false },
        ],
        gridview: true,
        loadonce: true,
        pager: '#jqGridPagerSearchStock',
        height: 240,
        viewrecords: true,
        rowNum: 20,
        rowList: [20, 50, 100],
        rownumbers: true,
        rownumWidth: 30,
        autoresizeOnLoad: true,
        shrinkToFit: false,
        fromServer: true,
        loadComplete: function () {
            var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
            for (i = 0; i < l; i++) {
                $this.jqGrid('editRow', ids[i], true);
            }
            if (l === 0) {
                var errmsg = "<span class='badge badge-danger'><i class='fa fa-exclamation-triangle'></i> Part not found or already added!</span>"
                $("#err-msg-search").html(errmsg);
            } else {
                $("#err-msg-search").html("");
            }                
        },
        ondblClickRow: function () {
            selectFilterDataStock();
        },
    });

    $('#jqGridSearchStock').jqGrid('navGrid', '#jqGridPagerSearchStock', { search: false, edit: false, add: false, del: false });

    function statusFormatterStock(cellvalue, options, rowObject) {
        rowObject.Actived = cellvalue;
        if (cellvalue == true) {
            return "<span class='fa fa-check text-success'></span>"
        } else {
            return "<span class='fa fa-times text-danger'></span>"
        }
    }

    function reloadGridFilterStock() {

        //var uniqueNotInclude = "";
        var partNotInclude = uniqueFilter;

        //$.each(uniqueFilter, function (key, value) {
        //    uniqueNotInclude += '{ "UniqueNumber" : "' + value + '"},';
        //});

        //uniqueNotInclude = "[" + uniqueNotInclude.substring(0, uniqueNotInclude.length - 1) + "]";

        //$.each(uniqueFilter, function (key, value) {
        //    partNotInclude += '{ "PartNumber" : "' + value + '"},';
        //});

        //partNotInclude = JSON.parse("[" + partNotInclude.substring(0, partNotInclude.length - 1) + "]");

        //console.log(partNotInclude);

        $("#jqGridSearchStock").jqGrid('setGridParam', {
            datatype: 'json',
            mtype: 'POST',
            postData: {
                InventoryNumber: inventorynumber,
                areaid: areaid,
                locationid: locationid,
                PartNotInclude: JSON.stringify(partNotInclude),
                //UniqueNotInclude: uniqueNotInclude,
            }
        }).trigger('reloadGrid');
    };


    function showfilterPartStockTaking(InventoryNumber, AreaId, LocationId, uniqueNotIn) {

        //if (supplierid != "") {
        //    $("#searchFilterSupplirId").attr("disabled", true);
        //} else {
        //    $("#searchFilterSupplirId").removeAttr("disabled");
        //}
        uniqueFilter = uniqueNotIn;
        inventorynumber = InventoryNumber;
        areaid = AreaId;
        locationid = LocationId;

        //loadComboSuppliers();
        reloadGridFilterStock();

        $('#filterPartStockTakingModal').modal('show');
        $("#search_result").val("");

    }

    function selectFilterDataStock () {
        var selRowId = $('#jqGridSearchStock').jqGrid('getGridParam', 'selrow');

        if (selRowId != null) {
            var rowData = $('#jqGridSearchStock').jqGrid("getRowData", selRowId);

            $("#search_result").val(JSON.stringify(rowData));
            $('#filterPartStockTakingModal').modal('hide');

        } else {
            alert("Please select row data.");
        }

    }

    @*function loadComboSuppliers(supplierid) {
        $.ajax({
            url: '@Url.Action("SupplierListJson", "Suppliers")',
            type: "GET",
            dataType: "JSON",
            async:false,
            data: {},
            success: function (response) {

                var id = "#searchFilterSupplirId";

                $(id).html("");
                $(id).append(
                    $('<option></option>').val("").html("*Choose Supplier")
                );
                $.each(response, function (i, Suppliers) {
                    $(id).append(
                        $('<option></option>').val(Suppliers.SupplierId).html(Suppliers.SupplierName)
                    );
                });

                $(id).val(supplierid);
            }
        })
    }*@
</script>
