
<div class="modal animated fadeIn" id="createTimeManagementModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-primary" role="document">
        <div class="modal-content">
            <form id="createTimeManagementForm" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h6 class="modal-title"><span class="fa fa-plus-square"></span> Create @ViewBag.Title</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-12 mb-2">
                            <label for="create-ShiftScheduleGroupId">Group Id</label>
                            <select type="text" class="custom-select custom-select-sm" id="create-ShiftScheduleGroupId" name="GroupId" required ></select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-2">
                            <label for="create-ShiftScheduleStartDate">Start Date</label>
                            <input type="date" class="form-control form-control-sm datepicker" id="create-ShiftScheduleStartDate" name="EndDate" value="" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-2">
                            <label for="create-ShiftScheduleEndDate">End Date</label>
                            <input type="date" class="form-control form-control-sm datepicker" id="create-ShiftScheduleEndDate" name="EndDate" value="" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-2">
                            <label for="create-ShiftScheduleReplace">Replace</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="" id="create-ShiftScheduleReplace" />
                                <label class="custom-control-label" for="create-ShiftScheduleReplace"><small> All Data Date Selected</small></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-create-TimeManagement" type="submit" class="btn btn-sm btn-primary" dismiss="modal"><span class="fa fa-dot-circle-o"></span> Submit</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                </div>
            </form>
            <div id="createTimeManagementError"></div>

        </div>
    </div>
</div>

<script>

    function createShiftSchedule() {
        document.getElementById("createTimeManagementForm").reset();
        $('#createTimeManagementForm').removeClass('was-validated');
        $('#createTimeManagementError').html("");
        $('#createTimeManagementModal').modal('show');
        $("form :input").each(function () {
            $(this).removeAttr("readonly").removeAttr("disabled").removeClass('error').next('label.error').remove().val("");
        });
    }

    $(document).ready(function () {
        $(function () {
            $("#createTimeManagementForm").submit(function (event) {
                event.preventDefault();
                if ($(this).valid()) {

                    var groupid     = $('#create-ShiftScheduleGroupId').val();
                    var startdate   = $('#create-ShiftScheduleStartDate').val();
                    var enddate     = $('#create-ShiftScheduleEndDate').val();
                    var replace     = $("#create-ShiftScheduleReplace").prop("checked");
                    $.ajax({
                        url: '@Url.Action("createShiftSchedule","TimeManagement")',
                        type: 'POST',
                        dataType: "JSON",
                        data: {
                            GroupId     : groupid,
                            StartDate   : startdate,
                            EndDate     : enddate,
                            Replace     : replace,
                        },
                        success: function (data) {
                            $('#createTimeManagementModal').modal('hide');
                            doSuccess(startdate, enddate, 'create');
                        },
                        error: function (xhr, desc, err) {
                            var respText = "";
                            try {
                                respText = eval(xhr.responseText);
                            } catch {
                                respText = xhr.responseText;
                            }

                            respText = unescape(respText).replaceAll("_n_", "<br/>")

                            var errMsg = '<div class="alert alert-warning" role="alert"><small class="text-danger"><b> Error ' + xhr.status + '!</b><br/>' + respText + '</small></div>'
                            $('#createTimeManagementError').html(errMsg);
                        }
                    });
                }
            });
        });
    });

    $(function () {
        $.ajax({
            url: '@Url.Action("WorkingShiftPatternGroupJson", "TimeManagement")',
            type: 'POST',
            dataType: "JSON",
            data: { },
            success: function (response) {

                var id = "";

                id = "#create-ShiftScheduleGroupId";

                $(id).html("");
                $(id).append(
                    $('<option></option>').val("").html("*Choose Schedule Group")
                );
                $(id).append(
                    $('<option></option>').val("all").html("All Schedule Group")
                );
                $.each(response, function (i, WorkingShift) {
                    $(id).append(
                        $('<option></option>').val(WorkingShift.GroupId).html(WorkingShift.GroupName)
                    );
                });

                id = "#update-ShiftScheduleGroupId";

                $(id).html("");
                $(id).append(
                    $('<option></option>').val("").html("*Choose Schedule Group")
                );
                $(id).append(
                    $('<option></option>').val("all").html("All Schedule Group")
                );
                $.each(response, function (i, WorkingShift) {
                    $(id).append(
                        $('<option></option>').val(WorkingShift.GroupId).html(WorkingShift.GroupName)
                    );
                });

            },

        });
    })
</script>

