<style>
    .table-responsive {
        height: 465px;
        overflow: auto;
    }

    thead tr:nth-child(1) th {
        position: sticky;
        background-color:aliceblue;
        top: 0;
        z-index: 10;
    }
</style>
<div class="row mb-0 pb-0">
    <div class="col-sm-6 col-lg-4">
        <div class="brand-card shadow-sm">
            <div class="brand-card-header bg-facebook">
                <i class="fa fa-calendar-o"></i><br />
                <div class="chart-wrapper">
                    <canvas id="social-box-chart-1" height="90"></canvas>
                </div>
            </div>
            <div class="brand-card-body p-0 m-0">
                <div>
                    <label class="text-uppercase text-muted font-weight-bold p-0 m-0">Monthly Summary</label>
                </div>
            </div>
            <div class="brand-card-body pt-0">
                <div>
                    <div id="totalorder" class="text-value counter">0</div>
                    <div class="text-uppercase text-muted small">Order</div>
                </div>
                <div>
                    <div id="totalReceiving" class="text-value counter">0</div>
                    <div class="text-uppercase text-muted small">Receiving</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="brand-card shadow-sm">
            <div class="brand-card-header bg-light-blue-gradient">
                <i class="fa fa-calendar"></i><br />
                <div class="chart-wrapper">
                    <canvas id="social-box-chart-1" height="90"></canvas>
                </div>
            </div>
            <div class="brand-card-body p-0 m-0">
                <div>
                    <label class="text-uppercase text-muted font-weight-bold p-0 m-0">Daily Summary</label>
                </div>
            </div>
            <div class="brand-card-body pt-0">
                <div>
                    <div id="dailyorder" class="text-value counter">0</div>
                    <div class="text-uppercase text-muted small">Order</div>
                </div>
                <div>
                    <div id="dailyReceiving" class="text-value counter">0</div>
                    <div class="text-uppercase text-muted small">Receiving</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="brand-card shadow-sm">
            <div class="brand-card-header bg-primary">
                <i class="fa fa-shopping-cart"></i><br />
                <div class="chart-wrapper">
                    <canvas id="social-box-chart-1" height="90"></canvas>
                </div>
            </div>
            <div class="brand-card-body p-0 m-0">
                <div>
                    <label class="text-uppercase text-muted font-weight-bold p-0 m-0">Daily Status</label>
                </div>
            </div>
            <div class="brand-card-body pt-0">
                <div>
                    <div id="totalwarning" class="text-value counter">0</div>
                    <div class="text-uppercase text-muted small">Warning</div>
                </div>
                <div>
                    <div id="totalcompleted" class="text-value counter">0</div>
                    <div class="text-uppercase text-muted small">Completed</div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row mb-0 pb-0">
    <div class="col-md-12 mb-0 pb-0">
        <div class="card shadow-sm mb-3 pb-0">
            <div class="card-header">
                <div id="total-warning-Receiving" class="position-absolute">
                    <i class="fa fa-cubes"></i> Receiving Schedule
                </div>
                <div class="card-header-actions">
                    <div class="input-group input-group-sm">
                        <select id="statusFilter" class="custom-select custom-select-sm">
                            <option value="0">All</option>
                            <option value="1">Minus</option>
                            <option value="2">Over</option>
                        </select>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="ReceivingSummaryDetail()"><i class="icon-refresh"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body collapse show" id="Receiving-info" style="padding:2px; height:470px">
                <div id="tableGeneralReceiving" class="table-responsive">
                    <table class="table table-hover table-bordered auto-scroll-row" >
                        <thead class="font-weight-bold">
                            <tr>
                                <th>NO.</th>
                                <th class="text-left">SUPPLIER</th>
                                <th>UNIQUE</th>
                                <th>PART #</th>
                                <th class="text-left">PART NAME</th>
                                <th>SCHEDULE</th>
                                <th>RECEIVING</th>
                                <th>+/-</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>

    $(document).ready(function () {
        ReceivingCardSummary();
    })

    function ReceivingCardSummary() {

        $.ajax ({
            url: "@Url.Action("ReceivingSummaryJson", "Home")",
            type: "JSON",
            method: "GET",
            async: false,
            data: {
                today: $("#dateFilter").val(),
                supplierFilter: $("#supplierFilter").val(),
                partnumberFilter: $("#partnumberFilter").val(),
            },
            success: function (data) {
                //console.log (data);
                transactions = data;

                $.each(transactions, function (index, data) {
                    $("#totalorder").html(parseFloat(data.TotalOrder).toLocaleString());
                    $("#totalReceiving").html(parseFloat(data.TotalReceiving).toLocaleString());
                    $("#dailyorder").html(parseFloat(data.DailyOrder).toLocaleString());
                    $("#dailyReceiving").html(parseFloat(data.DailyReceiving).toLocaleString());
                });

                $('.counter').counterUp()

            }
        });
    }
</script>

<script>

    $(document).ready(function () {
        ReceivingSummaryDetail();
    });

    
    function ReceivingSummaryDetail() {

        $("#totalwarning").html(0);
        $("#totalcompleted").html(0);

        $.ajax ({
            url: "@Url.Action("ReceivingSummaryDetailJson", "Home")",
            type: "JSON",
            method: "GET",
            data: {
                today: $("#dateFilter").val(),
                supplierFilter: $("#supplierFilter").val(),
                partnumberFilter: $("#partnumberFilter").val(),
                statusFilter: $("#statusFilter").val(),
            },
            success: function (data) {

                var rowReceiving = '';
                var status = '';
                var totMinus = 0;
                var totOver = 0;
                var totWarning = 0;
                var totCompleted = 0;
                var nom = 0;
                var todayDate = $("#dateFilter").val();
                todayDate = moment(todayDate).format("dddd, DD MMMM YYYY");

                $('#ReceivingStatus').remove();
                $("#total-warning-Receiving").html("<i class='fa fa-cubes'></i> Receiving Schedule " + todayDate);

                if (data.length > 0) {

                    $('#tableGeneralReceiving').removeAttr('hidden');

                    $.each(data, function (index, Receiving) {
                        
                        if (parseFloat(Receiving.OutstandingQty) < 0) {
                            totMinus += 1;
                            status = '<span class="badge badge-danger font-weight-normal" style="top:-2px !important; font-size: 11px"><i class="fa fa-minus-circle"></i> Minus</span>'
                        } else
                        if (parseFloat(Receiving.OutstandingQty) > 0) {
                            totOver += 1;
                            status = '<span class="badge badge-warning"><i class="fa fa-exclamation-circle"></i> Over</span>'
                        } else
                        if (parseFloat(Receiving.OutstandingQty) === 0) {
                            totCompleted += 1;
                            status = '<span class="badge badge-success"><i class="fa fa-check"></i> Completed</span>'
                        }

                        nom = parseInt(index) + 1;

                        rowReceiving += '<tr id="recr' + nom +'">';
                        rowReceiving += '<td class="text-center">' + nom + '</td>';
                        rowReceiving += '<td>' + Receiving.SupplierName + '</td>';
                        rowReceiving += '<td class="text-center">' + Receiving.UniqueNumber + '</td>';
                        rowReceiving += '<td class="text-center">' + Receiving.PartNumber + '</td>';
                        rowReceiving += '<td>' + Receiving.PartName + '</td>';
                        rowReceiving += '<td class="text-center">' + parseFloat(Receiving.ScheduleQty).toLocaleString() + '</td>';
                        rowReceiving += '<td class="text-center">' + parseFloat(Receiving.ReceivingQty).toLocaleString() + '</td>';
                        rowReceiving += '<td class="text-center">' + parseFloat(Receiving.OutstandingQty).toLocaleString() + '</td>';
                        rowReceiving += '<td class="text-center">' + status + '</td>';
                        rowReceiving += '</tr>';
                    });

                    $('#tableGeneralReceiving').removeAttr('hidden');
                    $('#tableGeneralReceiving tbody').html(rowReceiving);

                    $("#total-warning-Receiving").find('span').remove();
                    if (nom != 0) {
                        var badge = " <span class='badge badge-primary'>" + nom + " Rows</span>";
                        $("#total-warning-Receiving").append(badge);
                    }

                    totWarning = totMinus + totOver;
                    $("#totalwarning").html(parseFloat(totWarning).toLocaleString());
                    $("#totalcompleted").html(parseFloat(totCompleted).toLocaleString());

                    autoscrollrows();

                } else {
                    $('#tableGeneralReceiving').attr('hidden', true);
                    var rowReceiving = '';
                    status = '<div id="ReceivingStatus" class="col-md-12 text-center text-success mt-auto mb-auto" style="top:150px"><h1><i class="icon-check"></i></h1> <h4>No Receiving Schedule</h4></div>';
                    $('#Receiving-info').append(status);
                }
            }
        });
    }
</script>

